.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .dropup .dropdown-menu {
  top: auto;
  bottom: 100%; /* Vị trí của menu sẽ ở phía trên */
} */
.divFlexH1 {
  padding: 0 20px;
}

.divFlexH1:hover {
  color: blue;
}

.transition-container {
  position: relative;
  transition: opacity 3s ease, transform 3s ease;
  opacity: 0;
  transform: translateY(20px); /* Khởi đầu ở dưới */
}

.transition-container.show-dictaphone {
  opacity: 1;
  transform: translateY(0); /* Hiện lên */
}

.transition-container.show-regbutton {
  opacity: 1;
  transform: translateY(0); /* Hiện lên */
}
